h1 {
  font-size: 64px;
}

.slide {
  font-size: 32px;
}

.slide pre {
  font-size: 20px;
}
.slide code {
  font-size: 20px;
}

#ocaml_etc_syntax td {
    text-align: center;
    padding: 10px;
}
#ocaml_etc_syntax table {
}

.center {
  height: 752px;
  width: 1024px;
  left: 0;
  top: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.slide {
  margin-left: 40px;
}

.slide h2 {
  font-size: 64px;
  border-bottom: solid;
  margin-top: 0px;
  margin-left: -40px;
}

.output {
}

#nav {
  position: absolute;
  top: 738px;
  width: 1008px;
  text-align: right;
}

#title em {
  font-style: normal;
  color: #ff00ff;
}

#title_email {
  position: absolute;
  left: 400px;
  top: 650px;
}

li {
  margin-top: 20px;
}

.border_left {
    border-left: solid;
    border-width: 1px;
}

.border_bottom {
    border-bottom: solid;
    border-width: 1px;
}

#fritter_what {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
}

#fritter_count {
-webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
border-bottom-color: #CCC;
border-collapse: separate;
border-left-color: #CCC;
border-right-color: #CCC;
border-top-color: #CCC;
color: #CCC;
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 24px;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: 23px;
line-height: 22px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: 10px;
text-align: left;
top: 0px;
width: 39px;
z-index: auto;
}

#fritter_text {
background-color: white;
border-bottom-color: rgba(161, 170, 176, 0.960938);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: separate;
border-left-color: rgba(161, 170, 176, 0.960938);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(161, 170, 176, 0.960938);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(161, 170, 176, 0.960938);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;
color: black;
cursor: auto;
display: inline-block;
font-family: 'Lucida Grande', sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 44px;
letter-spacing: normal;
line-height: 15px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: auto;
overflow-y: auto;
padding-bottom: 4px;
padding-left: 2px;
padding-right: 2px;
padding-top: 4px;
position: static;
resize: none;
text-align: auto;
text-indent: 0px;
text-shadow: none;
text-transform: none;
white-space: pre-wrap;
width: 515px;
word-spacing: 0px;
word-wrap: break-word;
z-index: auto;
}

#fritter_tweet {
    position: absolute;
    top: 80px;
    right: 10px;
}

/* htmlize stuff */
.comment {
  /* font-lock-comment-delimiter-face */
  color: #cd0000;
}
.comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #cd0000;
}
.makefile-shell {
}
.makefile-targets {
  /* makefile-targets */
  color: #0000ee;
  font-weight: bold;
}
.function-name {
  /* font-lock-function-name-face */
  color: #0000ee;
  font-weight: bold;
}
.tuareg-font-lock-governing {
  /* tuareg-font-lock-governing-face */
  color: #0000ee;
  font-weight: bold;
}
.tuareg-font-lock-operator {
  /* tuareg-font-lock-operator-face */
  color: #cd0000;
}
.type {
  /* font-lock-type-face */
  color: #00cd00;
}
.variable-name {
  /* font-lock-variable-name-face */
  color: #cdcd00;
}
.string {
  /* font-lock-string-face */
  color: #00cd00;
}
.keyword {
  /* font-lock-keyword-face */
  color: #00cdcd;
  font-weight: bold;
}
